{% extends 'turf_manager_home.html' %}
{% load static %}

{% block turf %}
<!-- Edit Turf Start -->

<div class="container-fluid bg-light pt-5 pb-4">
    <div class="container py-5">
        <div class="d-flex flex-column text-center mb-5">
            <h4 class="text-secondary mb-3"></h4>
            <h4 class="display-4 m-0">Edit <span class="text-primary">Turf</span></h4>
        </div>
        {% for message in messages %}
         <h3 style="color: green;" align='center'> {{message}} </h3>
        {% endfor %} 
        <form method='POST'>
            {% csrf_token %}
        <div class="row">
        {% for i in turf %}

            <div class="col-lg-4 mb-4">
                <div class="card border-0">
                    <div class="card-header position-relative border-0 p-0 mb-4">
                        <img class="card-img-top" src="{{i.Turf_Image.url}}" style="width: 350px;height:300px" alt="">
                        <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100" style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                            <h3 class="text-primary mb-3">{{i.Turf_catogary}}</h3>
                            <h4 class="display-4 text-white mb-0">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;">{{i.Turf_name}}</small>/<small class="align-bottom" style="font-size: 16px; line-height: 40px;">{{i.Turf_area}}</small>
                            </h4>
                        </div>
                    </div>
                    <div class="card-footer border-0 p-0">
                        <!-- <a href="" class="btn btn-primary btn-block p-3" style="border-radius: 0;">Make Changes</a> -->
                    </div><br>
                    <div>
                        <button class="btn btn-danger py-3 px-5" type="submit" name='submit'  value = '{{i.Turf_id}}' id="sendMessageButton">Delete Turf</button>
                    </div>
                </div>
            </div>
            {%endfor%}

            <form>
            
            
<!-- edit End -->
{% endblock %}