{% extends 'index.html' %}
{% load static %}

{% block content %}


{%for  item in items %}
<!-- Pricing Plan Start -->
<div class="container-fluid bg-light pt-5 pb-4">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-4 mb-4">
                <div class="card border-0">
                    <div class="card-header position-relative border-0 p-0 mb-4">
                        <img class="card-img-top" src="{%static 'img/price-1.jpg' %}" alt="">
                        <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100" style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                            <h3 class="text-primary mb-3"></h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;"></small><small class="align-bottom" style="font-size: 16px; line-height: 40px;"></small>
                            </h1>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card border-0">
                    <div class="card-header position-relative border-0 p-0 mb-4">
                        <img class="card-img-top" src="{%static 'img/price-2.jpg' %}" alt="">
                        <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100" style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                            <h3 class="text-secondary mb-3">{{item.Turf_catogary}}</h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;">{{item.Turf_name}}</small>/<small class="align-bottom" style="font-size: 16px; line-height: 40px;">{{item.Turf_area}}</small>
                            </h1>
                        </div>
                    </div>
                    <form action = "{%url 'book_slot' %}" method ="POST">
                        {% csrf_token %}
                    <div>
                        <button class="btn btn-dark btn-block border-0 py-3" type="submit" name = "submit" value='{{item.Turf_id}}'>Book Slot</button>
                    </div>
                </form>
                </div>
            </div>
            <div class="col-lg-4 mb-4">
                <div class="card border-0">
                    <div class="card-header position-relative border-0 p-0 mb-4">
                        <img class="card-img-top" src="{%static 'img/price-3.jpg' %}" alt="">
                        <div class="position-absolute d-flex flex-column align-items-center justify-content-center w-100 h-100" style="top: 0; left: 0; z-index: 1; background: rgba(0, 0, 0, .5);">
                            <h3 class="text-primary mb-3"></h3>
                            <h1 class="display-4 text-white mb-0">
                                <small class="align-top" style="font-size: 22px; line-height: 45px;"></small><small class="align-bottom" style="font-size: 16px; line-height: 40px;"></small>
                            </h1>
                        </div>
                    </div>
                    
                    
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pricing Plan End -->



{% endfor %}


{% endblock  %}